.control-dots {
	margin: 0.4rem;
}
.carousel.carousel-slider .control-arrow {
	padding: 0;
}

.carousel .control-prev.control-arrow:before {
	border-right: 8px solid #333;
}
.carousel .control-next.control-arrow:before {
	border-left: 8px solid #333;
}
